@charset "utf-8";

/****** 共通基本設定
******************************************************/
body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  background-color: #fff;
  margin: 0;
  color:#3e3e3e;
}

img {
  display: block;
}

a {
  text-decoration: none;
}
a:link {
  color:#3e3e3e;
}
a:visited {
  color:#3e3e3e;
}
a:hover {
  color: #7b7b7b;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav a {
  font-weight: bold;
}

/* ヘッダー */
header {
  margin-bottom: 60px;
}
header h1 {
  font-size: 12px;
  margin: 0 10px;
}
header .mainvisual {
  margin-bottom: 40px;
}
header .mainvisual img {
  width: 100%;
}

/* メインナビゲーション */
.nav_main ul {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
}


/* 外枠・コンテンツ中央設定 */
main {
  width: 960px;
  margin: auto;
  margin-bottom: 60px;
}

/* コンテンツエリア設定 */
main h2 {
  font-size: 42px;
  font-weight: normal;
}


/* フッター */
.footer_wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: end;
  width: 960px;
  margin: 0 auto;
  border-top: 1px dotted #000;
}
.footer_info h3 {
  font-size: 18px;
}
.footer_info h4 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0;
}
.footer_info ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
}

.nav_footer ul li {
  text-align: right;
  line-height: 2;
}

/****** トップページ
******************************************************/
/* メインコンテンツエリア */
.items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.items:nth-child(odd) {
  flex-direction: row-reverse;
}
.item_img,.item_text {
  width: 48%;
}
.item_img img {
  width: 100%;
}

.intro h2 {
  font-size: 42px;
  font-weight: normal;
}

/* ニュースエリア */
.news {
  width: 80%;
  margin: auto;
}
.news ul {
  list-style: none;
  font-size: 20px;
}

/****** メニューページ
******************************************************/
.menu_nav {
  display: flex;
  justify-content: space-between;
}
.menu_img,.menu_nav_body {
  width: 48%;
}
.menu_img img {
  width: 100%;
}
.menu_nav_body {
  align-self: flex-end;
}
.menu_nav_body ul {
  padding: 0;
  list-style: none;
}
.menu_nav_body ul li {
  font-size: 20px;
  line-height: 2.5;
}

.menu_item {
  margin-bottom: 80px;
  text-align: center;
}
.menu_item h3 {
  font-size: 42px;
  font-weight: normal;
  margin-bottom: 32px;
}
.menu_item ul {
  list-style: none;
  padding: 0;
}
.menu_item ul li {
  font-size: 20px;
  margin-bottom: 20px;
}

/****** アクセスページ
******************************************************/
.map {
  margin-bottom: 40px;
}
.access table {
  width: 400px;
}
.access table th {
  width: 80px;
  text-align: left;
}

/****** コンタクトページ
******************************************************/

/* お問い合わせフォーム */
form ul {
  width: 600px;
  list-style: none;
  padding: 0;
}
form ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
form label {
  width: 20%;
  font-size: 16px;
}
form input,form textarea {
  width: 75%;
  padding: 1em;
  border: 1px solid #3f312b;
  border-radius: 4px;
  font-size: 16px;
}
form input:focus,
form textarea:focus {
  background-color: #d8ccc6;
}
form button {
  width: 20%;
  padding: 0.5em 0.5em 0.5em 0.75em;
  border: none;
  border-radius: 4px;
  background-color: #3f312b;
  color:#d8ccc6;
  font-size: 16px;
  letter-spacing: 0.5em;
}
