@charset "utf-8";
@import url(normalize.css);

/*共通設定====================*/
* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/img-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000;
    color: #d1d6c0;
}

img {
    display: block;
    width: 100%;
}

a {
    color: #fc001a;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}
a img {
    transition: 0.5s;
}
a:hover {
    color: #d1d6c0;
}
a:hover img {
    opacity: 0.75;
}


header {
    background-color: #000;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 960px;
    margin: auto;
}
.header-wrapper .logo {
    width: 200px;
}
.header-wrapper .logo h1 {
    margin: 0;
}



.header-nav {
    width: 50%;
}
.header-nav ul {
    display: flex;
    justify-content: space-between;
}
.header-nav ul li a {
    font-size: 18px;
}

/*メインコンテンツ*/
main {
    margin: 60px auto;
}

/*フッター*/
footer {
    background-color: rgba(0,0,0,0.5);
}
.footer-nav ul {
    display: flex;
    justify-content: center;
}
.footer-nav ul li {
    margin: 1em 2.5em;
}
.copyright {
    color: #fc001a;
}
.copyright small {
    display: block;
    padding: 60px 0;
    text-align: center;
}

/* index.html ====================*/

/*メインビジュアル*/
.mainvisual {
    width: 100%;
}

/*メインコンテンツ*/
.intro,.banner_area { 
    width: 960px;
    margin: auto;
    padding: 2em;
    background-color: rgba(0,0,0,0.8);
    font-size: 18px;
    font-weight: bold;
}
.intro {
    margin-bottom: 60px;
}
.intro p {
    margin: 1em 0;
    line-height: 1.75;
    text-align: justify;/*両端揃え*/
}
.banner-area {
    display: flex;
    justify-content: space-around;
}
.banner-area section {
    width: 30%;
}
.banner-area section h2 {
    margin-bottom: 12px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* second page ====================*/
.mainvisual-secondpage {
    width: 100%;
    background-color: #000;
}
.mainvisual-secondpage img {
    width: 960px;
    margin: auto;
}
.main-second {
    width: 960px;
    background-color: rgba(0,0,0,0.8);
}
.content-wrapper {
    display: flex;
}